@import '../../../styles/theme.scss';

:root {
    --font-text: "Winky Sans", sans-serif;
    --font-title: "RocknRoll One", sans-serif;
    font-family: var(--font-text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    min-height: 100vh;
    padding: 1rem 2rem ;
    // Use bg-secondary for a page background
    background-color:var(--bg-primary);
    margin: 0 auto;
    animation: fadeIn 0.5s ease-in-out;
}


.titleFont {
    font-family: var(--font-title);
}

.red {
    // Use the error status color
    color: var(--error);
}

.grey {
    // Use the text-secondary color
    color: var(--text-secondary);
}

// These classes should use theme variables for more consistency
.light{
    color: var(--primary-color);
    background-color: var(--bg-secondary);
}
.dark{
    color: var(--text-primary);
    background-color: var(--bg-primary);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeWrapper {
    background-color: var(--bg-primary);
      margin-top: 5rem;
      padding: 1rem 0;

  transition: background-color var(--transition-speed), color var(--transition-speed);
}
.header {
position: fixed;
width: 100%;
top: 0;
z-index: 100;
box-shadow: var(  --shadow-lg);

}

